.dh-modal
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dh-modal > .backdrop
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dh-modal > .content
{
    position: relative;
    z-index: 1;
}
