/* Base page styles */
.dh-page
{
	display: grid;
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

/* Page area containers */
.dh-page-area
{
	position: relative;
	overflow: auto;
}
