.r53095678 > .holder
{
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.r53095678 input[type="radio"]
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.r53095678 .radio-mark
{
    display: block;
    border-radius: 50%;
    border: 1px solid;
    transition: all 0.2s ease;
    position: relative;
}

.r53095678 .radio-mark::after
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: all 0.2s ease;
}

.r53095678 input[type="radio"]:checked ~ .radio-mark::after
{
    transform: translate(-50%, -50%) scale(1);
}

.r53095678 input[type="radio"]:disabled ~ .radio-mark
{
    opacity: 0.5;
    cursor: not-allowed;
}