/* Base */
.e-3cbd9189 > .holder
{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	gap: var(--dh-spacing-m);
}

.e-3cbd9189 > .holder > .track
{
	position: absolute;
	left: 0;
	right: 0;
	height: 6px;
	background: var(--dh-bg-3);
	border-radius: var(--dh-radius-s);
	pointer-events: none;
}

.e-3cbd9189 > .holder > .track > .fill
{
	height: 100%;
	background: var(--dh-brand);
	border-radius: var(--dh-radius-s);
	transition: width 0.2s ease-out;
}

.e-3cbd9189 > .holder > .input
{
	position: relative;
	width: 100%;
	height: 20px;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	z-index: 1;
}

.e-3cbd9189 > .holder > .input::-webkit-slider-thumb
{
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	background: var(--dh-brand);
	border: 2px solid var(--dh-bg-1);
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.e-3cbd9189 > .holder > .input::-webkit-slider-thumb:hover
{
	transform: scale(1.1);
}

.e-3cbd9189 > .holder > .input::-moz-range-thumb
{
	width: 18px;
	height: 18px;
	background: var(--dh-brand);
	border: 2px solid var(--dh-bg-1);
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.e-3cbd9189 > .holder > .input::-moz-range-thumb:hover
{
	transform: scale(1.1);
}

.e-3cbd9189 > .holder > .value
{
	min-width: 40px;
	text-align: center;
	font-size: var(--dh-size-s);
	font-weight: 600;
	color: var(--dh-text-1);
}

/* Variants - Colors */
.e-3cbd9189 > .holder[variant*="brand"] > .track > .fill
{
	background: var(--dh-brand);
}

.e-3cbd9189 > .holder[variant*="brand"] > .input::-webkit-slider-thumb
{
	background: var(--dh-brand);
}

.e-3cbd9189 > .holder[variant*="brand"] > .input::-moz-range-thumb
{
	background: var(--dh-brand);
}

.e-3cbd9189 > .holder[variant*="blue"] > .track > .fill
{
	background: var(--dh-blue);
}

.e-3cbd9189 > .holder[variant*="blue"] > .input::-webkit-slider-thumb
{
	background: var(--dh-blue);
}

.e-3cbd9189 > .holder[variant*="blue"] > .input::-moz-range-thumb
{
	background: var(--dh-blue);
}

.e-3cbd9189 > .holder[variant*="red"] > .track > .fill
{
	background: var(--dh-red);
}

.e-3cbd9189 > .holder[variant*="red"] > .input::-webkit-slider-thumb
{
	background: var(--dh-red);
}

.e-3cbd9189 > .holder[variant*="red"] > .input::-moz-range-thumb
{
	background: var(--dh-red);
}

.e-3cbd9189 > .holder[variant*="orange"] > .track > .fill
{
	background: var(--dh-orange);
}

.e-3cbd9189 > .holder[variant*="orange"] > .input::-webkit-slider-thumb
{
	background: var(--dh-orange);
}

.e-3cbd9189 > .holder[variant*="orange"] > .input::-moz-range-thumb
{
	background: var(--dh-orange);
}

.e-3cbd9189 > .holder[variant*="green"] > .track > .fill
{
	background: var(--dh-green);
}

.e-3cbd9189 > .holder[variant*="green"] > .input::-webkit-slider-thumb
{
	background: var(--dh-green);
}

.e-3cbd9189 > .holder[variant*="green"] > .input::-moz-range-thumb
{
	background: var(--dh-green);
}

/* Variants - Sizes */
.e-3cbd9189 > .holder[variant*="size-s"] > .track
{
	height: 4px;
}

.e-3cbd9189 > .holder[variant*="size-s"] > .input
{
	height: 16px;
}

.e-3cbd9189 > .holder[variant*="size-s"] > .input::-webkit-slider-thumb
{
	width: 14px;
	height: 14px;
}

.e-3cbd9189 > .holder[variant*="size-s"] > .input::-moz-range-thumb
{
	width: 14px;
	height: 14px;
}

.e-3cbd9189 > .holder[variant*="size-s"] > .value
{
	font-size: 11px;
	min-width: 35px;
}

.e-3cbd9189 > .holder[variant*="size-m"] > .track
{
	height: 6px;
}

.e-3cbd9189 > .holder[variant*="size-m"] > .input
{
	height: 20px;
}

.e-3cbd9189 > .holder[variant*="size-m"] > .input::-webkit-slider-thumb
{
	width: 18px;
	height: 18px;
}

.e-3cbd9189 > .holder[variant*="size-m"] > .input::-moz-range-thumb
{
	width: 18px;
	height: 18px;
}

.e-3cbd9189 > .holder[variant*="size-m"] > .value
{
	font-size: var(--dh-size-s);
	min-width: 40px;
}

.e-3cbd9189 > .holder[variant*="size-l"] > .track
{
	height: 8px;
}

.e-3cbd9189 > .holder[variant*="size-l"] > .input
{
	height: 24px;
}

.e-3cbd9189 > .holder[variant*="size-l"] > .input::-webkit-slider-thumb
{
	width: 22px;
	height: 22px;
}

.e-3cbd9189 > .holder[variant*="size-l"] > .input::-moz-range-thumb
{
	width: 22px;
	height: 22px;
}

.e-3cbd9189 > .holder[variant*="size-l"] > .value
{
	font-size: var(--dh-size-m);
	min-width: 45px;
}
